* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  font-weight: 200;
  line-height: 1.1;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
}
header #navbar {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px;
}
header .nav-wrapper {
  font-size: 1.2rem;
}
header .hamburger {
  height: 15px;
  margin: 2.5px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
}
header .hamburger div {
  background-color: #ffffff;
  position: relative;
  width: 30px;
  height: 3.25px;
  margin-top: 5.25px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
header #toggler {
  display: none;
}
header #toggler:checked ~ .nav-links {
  height: 10vh;
  display: block;
}
header #toggler:checked + .hamburger .top {
  transform: rotate(-45deg);
  margin-top: 11.25px;
}
header #toggler:checked + .hamburger .middle {
  transform: rotate(45deg);
  margin-top: -2.5px;
}
header #toggler:checked + .hamburger .bottom {
  transform: scale(0);
}
header .nav-links {
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  transition: height 0.4s ease;
  transition: all 0.3s ease;
}
header nav ul li {
  line-height: 1.2;
}
header li a {
  color: #ffffff;
  text-decoration: none;
}
header li a:hover {
  text-decoration: underline;
}

.header-image {
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header-image .header-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 35vh;
  width: 100%;
}
.header-image .header-text .text-box {
  margin-top: 35vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.header-image .header-text h1,
.header-image .header-text p {
  text-align: center;
  width: 65%;
  color: #ffffff;
}
.header-image .header-text h1 {
  font-size: 1.8rem;
  line-height: 1;
}
.header-image .header-text p {
  font-size: 1.3rem;
}

main {
  text-align: center;
  margin-top: 20px;
}
main #about h1 {
  margin: 40px;
}
main .employees {
  width: 100%;
}
main .employee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
main .employee-container h4 {
  margin: 10px;
}
main .portrait {
  width: 250px;
  margin-top: 10px;
}
main .portrait img {
  border-radius: 50%;
  max-width: 100%;
  box-shadow: 0 0 2rem #888888;
}
main .about-container {
  width: 80%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}
main .about-container p {
  width: 80%;
  padding: 5px;
  line-height: 1.2;
}

footer {
  background-color: #000;
  height: 400px;
  margin-top: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
}
footer .street-adress,
footer .contact-information,
footer .social-links li > a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  line-height: 30px;
  margin: 15px;
}
footer ul {
  list-style: none;
}
footer li {
  color: #ffffff;
  font-size: 1.3rem;
}

.bi-instagram,
.bi-facebook,
.bi-twitter {
  margin: 10px;
}

button {
  border: none;
  background-color: transparent;
}

.white-arrow::before {
  font-size: 1.2rem;
  color: #ffffff;
  border-style: none;
  background-color: transparent;
}

.black-arrow::before {
  font-size: 1.2rem;
  color: #000;
  background-color: transparent;
}

@media screen and (min-width: 800px) {
  header {
    position: relative;
    width: 100%;
  }
  header .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .header-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  header .white-arrow::before {
    font-size: 1.2rem;
    color: #ffffff;
    border-style: none;
    background-color: transparent;
  }
  header .black-arrow::before {
    font-size: 1.2rem;
    color: #000;
    background-color: transparent;
  }
  header #navbar {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
  }
  header .nav-wrapper {
    font-size: 1rem;
  }
  header .nav-links {
    height: 10vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
  }
  header .hamburger div {
    display: none;
  }
  header #toggler {
    display: none;
  }
  header nav li {
    line-height: 1.2;
    display: inline;
    padding: 10px;
  }
  header li a {
    color: #ffffff;
    text-decoration: none;
  }
  header li a:hover {
    text-decoration: underline;
  }

  main section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  main section .employee-container {
    width: 50%;
  }
  main section .employee-container:nth-child(3) .about-container {
    width: 225px;
    height: 100px;
  }
  main section .about-container {
    min-width: 90%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  footer {
    background-color: #000;
    width: 100%;
    height: 240px;
  }
  footer #contact {
    width: 90%;
  }
  footer .footer-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .street-adress,
footer .contact-information,
footer .social-links li > a {
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    line-height: 30px;
    margin: 15px;
  }
  footer ul {
    list-style: none;
  }
  footer li {
    color: #ffffff;
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
